/* footer */
// Mobile
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .logo {
  display: block;
  text-align: center;
}
.footer-list {
  margin-top: 20px;
}
.footer-address > .item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-address p {
  margin-top: 0;
  margin-bottom: 0;

  @include text-style($background-color-white, 400, 14px, 0.03em, 1.71, center);
  text-decoration: none;
  font-style: normal;
  background-color: #2f303a;
}
.footer-address a {
  display: block;
  @include text-style(
    rgba(255, 255, 255, 0.6),
    400,
    14px,
    0.03em,
    1.71,
    center
  );
  text-decoration: none;
  background-color: #2f303a;
  font-style: normal;
}
.footer-links {
  margin-top: 60px;
}
.footer-links-title {
  margin-top: 0;
  margin-bottom: 0;

  @include text-style($background-color-white, 700, 14px, 0.03em, 1.71, center);
  text-decoration: none;
  font-style: normal;
  background-color: #2f303a;
}

.footer-links > .links-list {
  margin-top: 20px;
}
.footer-links a {
  background-color: rgba(255, 255, 255, 0.1);
}

.join-links {
  display: inline-block;
  fill: $background-color-white;
  margin: 12px;
}

// Tablet

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-main {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .footer-links {
    margin-top: 0px;
  }
}

// Desktop
@media screen and (min-width: 1200px) {
  .footer-address > .item:not(:last-child) {
    margin-bottom: 9px;
  }
  footer .container {
    display: flex;
  }
  footer .logo {
    text-align: left;
  }
  .footer-address p {
    text-align: left;
  }
  .footer-address a {
    text-align: left;
  }
  .footer-main {
    display: flex;
    align-items: baseline;
  }

  .footer-links {
    margin-left: 70px;
    margin-top: 0px;
  }
  .footer-links-title {
    text-align: left;
  }
}
