/* header */
// Mobile

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: $logo-font;
  @include text-style($hover-color, 700, 24px, 0.03em, 1.19, left);
}

.logo-part {
  color: #000000;
}
.logo-part-footer {
  color: $background-color-white;
}

.nav-button {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: $background-color-white;
  align-items: center;
}

.nav-button:hover,
.nav-button:focus {
  color: $hover-color;
}
.nav-button.is-open .icon-menu {
  display: none;
}

.nav-button .icon-cross {
  display: none;
}

.nav-button.is-open .icon-cross {
  display: block;
}

.mobile-nav.is-open {
  display: block;
}
.mobile-nav {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 100%;
  height: 393px;
  background-color: $background-color-white;
  display: none;
}

.list-nav {
  margin-top: 60px;
  margin-right: 190px;
  margin-left: 190px;
  margin-bottom: 60px;
}

.list-nav .item:not(:last-child) {
  margin-bottom: 40px;
}

.list-nav a {
  position: relative;
  display: block;

  @include text-style($title-text-color, 500, 18px, 2%, 1.16, center);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-nav .current {
  color: $hover-color;
}
.list-nav .current::after {
  content: "";
  display: flex;
  position: absolute;
  top: 25px;
  left: 20%;
  width: 64px;
  height: 4px;
  background: $hover-color;
  border-radius: 2px;
}
.list-nav .port::after {
  width: 95px;
  left: 0%;
}
.address-header a {
  @extend %flex-center;
  align-items: center;

  text-decoration: none;
  font-style: normal;
  @include text-style($main-text-color, 500, 18px, 0.02em, 1.14, left);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-header .item:not(:last-child) {
  margin-bottom: 16px;
}
.header-icon {
  margin-right: 10px;
}
.list-nav a:hover,
.address-header a:hover,
.list-nav a:focus,
.address-header a:focus {
  color: $hover-color;
}

// Tablet

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .nav-button {
    display: none;
  }

  .mobile-nav {
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
    z-index: 0;
    top: 0;
    left: 0;
    width: auto;
  }

  .list-nav {
    display: flex;
    margin-top: 0px;
    margin-right: 84px;
    margin-left: 84px;
    margin-bottom: 0px;
  }
  .list-nav .item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
  .address-header {
    display: block;
    margin-left: auto;
  }
  .list-nav a {
    font-size: 14px;
  }
  .address-header a {
    justify-content: start;
    font-size: 14px;
  }
  .address-header .item:not(:last-child) {
    margin-bottom: 10px;
  }

  .list-nav .current::after {
    content: "";
    top: 45px;
    left: 0%;
    width: 48px;
  }
  .list-nav .port::after {
    width: 77px;
    left: 0%;
  }
}

// Desktop

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .header-nav {
    justify-content: none;
  }
  .logo {
    font-size: 26px;
  }

  .main-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
    margin-right: 305px;
  }
  .list-nav {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .list-nav .item {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .list-nav .item:not(:last-child) {
    margin-right: 50px;
  }
  .address-header {
    display: flex;
  }
  .address-header .item {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .address-header .item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .address-header a {
    font-size: 14px;
  }
  .list-nav a {
    font-size: 14px;
  }
}
